/* default: mobile */

#contact-form-div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 auto;
      -ms-flex: 1 auto;
          flex: 1 auto;
}

#contact-form-div h2 {
  margin-top: 0;
  text-align: center;
}

#contact-form-div > .border {
  border-color: red;
}

#contact-form-div label,
#contact-form-div .filler {
  display: inline-block;
  box-sizing: border-box;
  margin-top: 12px;
  text-align: left;
  width: 25%;
}
#contact-form-div label[for="form-source"],
#contact-form-div label[for="form-comments"],
#contact-form-div label[for="form-questions"] {
  text-align: left;
  padding-right: 0;
  margin-top: 12px;
  width: 100%;
}
#contact-form-div input[type="text"],
#contact-form-div input[type="email"],
#contact-form-div input[type="tel"],
#contact-form-div input[type="submit"],
#contact-form-div select,
#contact-form-div textarea,
#contact-form-div #form-call {
  box-sizing: border-box;
  margin-top: 10px;
  color: black;
  width: 70%;
}

#contact-form-div input[type="checkbox"] {
  vertical-align: middle;
  margin-top: 12px;
  height: 1em;
  width: 1em;
}
#contact-form-div label.checkbox-label {
  vertical-align: middle;
}

#contact-form-div #form-source,
#contact-form-div #form-comments {
  margin-top: 4px;
}
#contact-form-div .form-section-emt {
  /*margin-top: 14px;*/
  margin-bottom: 10px;
}
#contact-form-div label[for="form-emt"] {
  width: auto;
  margin-left: 1%;
}
#contact-form-div input[type="submit"],
#contact-form-div #form-call {
  margin: 20px auto 10px;
  line-height: 1.5em;
  width: 80%;
  display: block;
  height: 40px;
  box-shadow: rgb(140, 140, 140) 3px 5px;
}
#contact-form-div #form-call {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  color: buttontext;
  background-color: buttonface;
}

#contact-form-div #privacyterms {
  margin-top: 1em;
  text-align: center;
}

#contact-form-div #loading {
  display: none;
}
#contact-form-div #output {
  display: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
          flex: 1 100%;
  margin: 25px auto;
  font-size: 110%;
  font-weight: bold;
  text-align: center;
}

#contact-form-div .success {
  padding: 5px;
  border: 2px solid green;
}
#contact-form-div .error {
  padding: 5px;
  border: 2px solid red;
}

#contact-form-div .form-section-zip,
#contact-form-div .form-section-emt,
#contact-form-div .form-section-comments {
  display: none;
}

#contact-form-div input.form-section-questions {
  margin-left: 5%;
  margin-top: 12px;
  width: 5%;
}
#contact-form-div label.form-section-questions.checkbox-label {
  margin-left: 1%;
  margin-top: 12px;
  width: 87%;
}

#zipcheck {
  padding: 5px;
  margin: 0 auto;
  color: red;
  font-size: 90%;
  width: 100%;
  text-align: center;
}

/* intermediate */
@media only screen and (min-width: 550px) {
  #contact-form-div .form-section-zip,
  #contact-form-div .form-section-comments {
    display: inline-block;
  }
  #contact-form-div input[type="submit"],
  #contact-form-div #form-call {
    height: 60px;
  }
  #contact-form-div input.form-section-questions {
    margin-left: 25%;
    margin-top: 12px;
    width: 5%;
  }
  #contact-form-div label.form-section-questions.checkbox-label {
    padding-right: 0;
    margin-left: 1%;
    margin-top: 12px;
    width: 67%;
  }
}

/* wide */
@media only screen and (min-width: 800px) {
  #contact-form-div {
    font-size: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  #contact-form-div > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  #contact-form-div form,
  #contact-form-div #call-form {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
  }
  #contact-form-div #contact-form > * {
    box-sizing: border-box;
  }
  #contact-form-div label {
    /*
    flex: 0 25%;
    text-align: right;
    */
    padding-right: 5px;
  }
  #contact-form-div .filler {
    /*display: none;*/
  }
  #contact-form-div label[for="form-source"],
  #contact-form-div label[for="form-comments"] {
    /*text-align: right;*/
    padding-right: 5px;
    margin-top: 12px;
  }
  #contact-form-div label[for="form-emt"] {
  }
  #contact-form-div input[type="text"],
  #contact-form-div input[type="email"],
  #contact-form-div input[type="tel"],
  #contact-form-div input[type="submit"],
  #contact-form-div select,
  #contact-form-div textarea,
  #contact-form-div #form-call {
    -webkit-box-flex: 0;
    -webkit-flex: 0 73%;
        -ms-flex: 0 73%;
            flex: 0 73%;
  }
  #contact-form-div #form-comments,
  #contact-form-div #form-source {
    margin-top: 7px;
  }
  #contact-form-div input[type="submit"] {
  }
  #contact-form-div input.form-section-questions {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 5%;
        -ms-flex: 0 1 5%;
            flex: 0 1 5%;
    margin-left: 23%;
    margin-top: 7px;
    width: 4%;
  }
  #contact-form-div label.form-section-questions.checkbox-label {
    -webkit-box-flex: 1;
    -webkit-flex: 1 68%;
        -ms-flex: 1 68%;
            flex: 1 68%;
    margin-left: 3%;
    margin-top: 7px;
    width: 68%;
  }
  

  /*
  #contact-form-div .form-section-name { order: 0; }
  #contact-form-div .form-section-email { order: 2; }
  #contact-form-div .form-section-phone { order: 4; }
  #contact-form-div .form-section-zip { order: 6; }

  #contact-form-div .form-section-program { order: 1; }
  #contact-form-div .form-section-source { order: 3; }
  #contact-form-div .form-section-comments { order: 5; }
  #contact-form-div .form-section-submit { order: 7; }
  */
  
}

@media only screen and (min-width: 800px) and (max-width: 999px) {
  #contact-form-div {
    /*flex: 0;*/
  }
}

/* max width */
@media only screen and (min-width: 1000px) {
}

/* print styles */
@media print {
}
