#content {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
#sidebar-primary {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
#bottom-bar {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}

#start_dates li,
#links li,
#course_approvals li,
#promotions li,
#postsec li,
#ceu li {
  margin-top: 8px;
}
#start_dates .class-type-and-status {
  white-space: nowrap;
}

#registration .button {
  margin: 10px auto 0;
  width: 90%;
}

#promotions li {
  list-style: inside disc;
}

article {
  margin-top: 0;
}
article h1 {
  text-align: center;
  margin-top: 0;
}

#new-bls-notice,
#new-acls-notice {
  margin-left: 5%;
  margin-right: 5%;
  line-height: 1.3em;
  font-size: 95%;
}
#new-bls-notice > div,
#new-acls-notice > div {
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 550px) {
  #sidebar-primary,
  #bottom-bar {
    padding: 0;
  }
  #sidebar-primary > *,
  #bottom-bar > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1 49%;
        -ms-flex: 1 49%;
            flex: 1 49%;
    margin-right: 1%;
  }
  #sidebar-primary > *:nth-child(even),
  #bottom-bar > *:nth-child(even),
  #sidebar-primary > *:last-child,
  #bottom-bar > *:last-child {
    margin-right: 0;
  }

  #content-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #contact-info {
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  #details,
  #books,
  #extra,
  #registration {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
}

@media only screen and (min-width: 800px) {
  #sidebar-primary {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  #content {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  #bottom-bar {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  #content-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #content-bottom > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1 45%;
        -ms-flex: 1 45%;
            flex: 1 45%;
  }
  #content-bottom > *:nth-of-type(2n+0) {
    margin-left: 2%;
  }
  #contact-info {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #details,
  #books,
  #registration {
    display: block;
  }
  #content > article > .testimonial-row {
    display: none;
  }
  #testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #testimonials > div {
    margin-top: 5px;
  }
  #testimonials > div:first-of-type {
    margin-top: 0;
  }
}
