#content {
  order: 0;
}
#sidebar-primary {
  order: 1;
}
#bottom-bar {
  order: 2;
}

#start_dates li,
#links li,
#course_approvals li,
#postsec li,
#ceu li {
  margin-top: 8px;
}
#start_dates .class-type {
  white-space: nowrap;
}

#registration .button {
  margin: 10px auto 0;
  width: 90%;
}

article {
  margin-top: 0;
}
article h1 {
  text-align: center;
  margin-top: 0;
}

@media only screen and (min-width: 550px) {
  #sidebar-primary,
  #bottom-bar {
    padding: 0;
  }
  #sidebar-primary > *,
  #bottom-bar > * {
    flex: 1 49%;
    margin-right: 1%;
  }
  #sidebar-primary > *:nth-child(even),
  #bottom-bar > *:nth-child(even),
  #sidebar-primary > *:last-child,
  #bottom-bar > *:last-child {
    margin-right: 0;
  }

  #content-bottom {
    display: flex;
    flex-flow: row wrap;
  }
  #contact-info {
    flex-flow: column nowrap;
  }
  #details,
  #books,
  #registration {
    display: flex;
    flex-flow: row wrap;
  }
}

@media only screen and (min-width: 800px) {
  #sidebar-primary {
    order: 0;
  }
  #content {
    order: 1;
  }
  #bottom-bar {
    order: 2;
  }
  #content-bottom {
    display: flex;
    flex-flow: row wrap;
  }
  #content-bottom > * {
    flex: 1 49%;
  }
  #content-bottom > *:nth-child(odd) {
    margin-right: 2%;
  }
  #contact-info {
    flex-flow: row wrap;
  }
  #details,
  #books,
  #registration {
    display: block;
  }
  #testimonials {
    flex-direction: column;
  }
  #testimonials > div {
    margin-top: 5px;
  }
  #testimonials > div:first-of-type {
    margin-top: 0;
  }
}
