#career_courses > section > h3,
#continuing_ed > section > h3 {
  margin-bottom: 0;
}
#career_courses > section > ul,
#continuing_ed > section > ul {
  margin-top: 0;
  margin-left: 0;
  padding-left: 20px;
  line-height: 1.2em;
}
#career_courses > section > ul > li,
#continuing_ed > section > ul > li {
  margin-right: 30px;
}

@media only screen and (min-width: 800px) {
  #bottom-bar {
    flex-wrap: nowrap;
  }
}
