#school-data li {
  padding-left: 0;
  text-indent: 0;
}
#school-data > div > ul > li {
  margin-top: 10px;
}
#school-data > div > ul > li:first-child {
  margin-top: 0px;
}

#career_courses > section > h3,
#continuing_ed > section > h3 {
  margin-bottom: 0;
}
#career_courses > section > ul,
#continuing_ed > section > ul {
  margin-top: 0;
  margin-left: 0;
  padding-left: 20px;
  line-height: 1.2em;
}
#career_courses > section > ul > li,
#continuing_ed > section > ul > li {
  margin-right: 30px;
}

@media only screen and (min-width: 550px) {
  #content article {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 49%;
        -ms-flex: 1 0 49%;
            flex: 1 0 49%;
  }
}

@media only screen and (min-width: 800px) {
  #bottom-bar {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
  }
}
