/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

* {
    box-sizing: border-box;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

header {
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    flex: 1 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img {
  max-width: 100%;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 96%;
    margin: 0 2%;
}

/* ===================
    ALL: Orange Theme
   ===================

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}
*/

/* ===================
    COLOR SCHEME
   ===================*/

.header-container {
    border-bottom: 20px solid #050f0a;
}

nav li, nav a {
  background: #050f0a;
}

.footer-container,
.main aside {
    border-top: 20px solid #050f0a;
}

.header-container,
.footer-container {
    background: #0a1e3c;
}

html,
.main-container {
  background: #f5f5f5;
}

.title {
    color: white;
}

a {
    color: #dd0033;
    color: #d70000;
    color: #0000b3;
}
.footer-container a {
    color: white;
}

.bg-darkblue {
  background: #0a1e3c;
}

.price {
  border: 1px dotted red;
  border-radius: 6px;
  padding: 1px;
}

.testscore {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

/* ==============
    STRUCTURE
   ============== */
/*
body {
  display: flex;
  flex-flow: column nowrap;
}

body > header,
body > footer {
  padding: 0 10px;
  background: #0a1e3c;
  border-color: #050f0a;
}
body > header {
  border-bottom: 20px solid;
  order: 1;
}
body > footer {
  border-top 20px solid;
  order: 3;
}
body > #middle {
  flex: 1;
  order: 2;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  padding: 10px;
}

#middle > aside {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
main {
  flex: 3;
  order: 2;
  display: flex;
  flex-flow: column nowrap;
}
#sidebar-primary {
  order: 1;
}
#sidebar-secondary > * {
  display: none;
}

#middle > aside > section {
  width: 100%;
  border-top: 20px solid #050f0a;
}
main > section {
  flex: 2;
}
@media only screen and (min-width: 800px) {
  body > #middle,
  main {
    flex-direction: row;
  }
}
*/

/* ==============
    MOBILE: Menu
   ============== */

#logo-img {
    /*max-width: 100%;*/
    width: 84%;
}

#menu-button {
    /*width: 50px;*/
    height: 30px;
    background-color: #bbbbbb;
    border-radius: 3px;
    margin: 0 auto 10px;
    padding: 5px 0;
    display: inline-block;
    vertical-align: bottom;
    width: 14%;
}
#menu-button > div {
    background-color: #555555;
    border-radius: 1px;
    width: 40px;
    height: 2px;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.25);
    margin: 3px auto;
}

nav {
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 3px;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    /*background: #e44d26;*/
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 20px 0 10px;
    display: flex;
    flex-flow: column nowrap;
}

.main article h1 {
    font-size: 1.65em;
}
.main aside header {
    flex: 1 1 100%;
    text-align: center;
    align-self: flex-start;
}


#sidebar-secondary {
    display: block;
    float: right;
    max-width: 30%;
    clear: both;
    margin-left: 15px;
    margin-bottom: 10px;
}
#sidebar-secondary > * {
    display: none;
}

aside {
    color: white;
    padding: 0px 7px 10px;
    margin-top: 5px;
    font-size: small;
    line-height: 1.4em;
    background: #eeeeee;
    color: #222 !important;
    border: 2px solid;
}
aside h3 {
    margin: 5px auto 10px;
    text-align: center;
    font-size: large;
}
aside h3.click-load {
    margin-bottom: 5px;
}

aside ul {
    padding-left: 0;
    margin: 0;
}
aside ul ul,
aside ul.sub {
    margin-left: 25px;
}
aside li {
    list-style-type: none;
}
aside li.sub {
    margin-top: 1em;
}

#contact-info {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}
#contact-info.vertical {
    flex-flow: column nowrap;
    align-items: center;
}
#contact-info > header {
    flex: 1 1 100%;
    text-align: center;
}
#contact-info > div {
    padding: 4px;
    flex: 1 0 50%;
}
#contact-info > div:first-of-type {
}

#office-hours {
    text-align: right;
}

#banner {
    flex: 1 100%;
    order: -1;
    margin: 15px 0 30px;
    text-align: center;
}
#banner > div {
    display: inline-block;
    min-width: 80%;
    margin: 1em auto 0;
    padding: 5px 8px;
    border: 2px solid red;
    border-radius: 7px;
    text-align: center;
    font-size: 120%;
    box-shadow: 5px 5px 15px red;
    background-color: white;
}
#banner > div:first-child {
    margin-top: 0;
}
#banner > div.blue {
    border-color: #0a1e3c;
    box-shadow: none;
    box-shadow: 5px 5px 15px #0a1e3c;
}
#banner a {
  color: red;
  text-decoration: none;
}

.button a {
    text-decoration: none;
    font-size: 130%;
    border: solid 1px #dd0033;
    border-radius: 7px;
    padding: 5px 8px;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-color:#222;
    color:#222;
    background-color:#bbb;
    font-weight:bold;
}
.contact-btn input,
.registration-btn input {
  width: 100%;
  padding: 6px 8px;
  /*
  border-radius: 7px;
  border-color: rgb(175, 175, 175);
  */
  font-weight: bold;
  text-align: center;
  color: rgb(34, 34, 34);
  box-shadow: rgb(140, 140, 140) 2px 4px;
  box-shadow: rgba(140, 140, 140, 0.7) 2px 4px;
}
.registration-btn {
  margin-top: 10px;
}
.registration-btn:first-of-type {
}

.book-notice {
  text-align: center;
  color: red;
}
.book-notice h4 {
  margin: 5px auto;
}
.book-notice p {
  margin: 5px auto;
}

.reg-notice h3 {
  color: red;
  margin: 5px auto;
}
.reg-notice ul {
  list-style-position: inside;
}
.reg-notice li {
  list-style-type: disc;
}
.reg-notice p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.reg-notice p:last-of-type {
  margin-bottom: 0;
}

#announcements {
    text-align: center;
}
#announcements > div {
    margin-top: 8px;
    line-height: 1.2em;
}
#announcements > div:first-child {
    margin-top: 0;
}
#announcements > div > a {
    text-decoration: none;
}
#fb-feed {
    text-align: center;
}
.fb-page,
.fb-page > * {
    width: 100%;
}

#slideshow {
    display: none;
}

article {
    margin-top: 30px;
}
article > section {
    /*display: list-item;*/
    margin-left: 8%;
}
article > section > h3 {
    margin-bottom: 0;
}
article > section > p {
    margin: 0;
}


#career_courses section {
    display: block;
}
#continuing_ed section {
    display: block;
}




aside.testimonial-column {
  border-top-width: 2px;
}
.testimonial-column {
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
}
.testimonial-row {
  display: flex;
  flex-flow: row nowrap;
}
.testimonial-column > div,
.testimonial-row > div {
  flex: 1 1 100%;
}
.testimonial-bg {
  background-color: #0a1e3c;
}
.testimonial-container {
  /*display: flex;*/
}
.testimonial {
  flex: 1 1 100%;
  padding: 5px;
  background-color: #0a1e3c;
  display: flex;
  flex-flow: column;
  color: white;
  font-size: small;
}
.testimonial img {
    /*
    width: 90px;
    height: 60px;
    */
    width: 90%;
    border: 1px solid #e2e2e2;
    margin-bottom: 5px;
    align-self: center;
}
.testimonial .quote {
    font-size: medium;
}
.testimonial .source {
    margin-bottom: 5px;
    text-align: right;
}
.testimonial .name {
    display: block;
    font-size: medium;
}
.testimonial .name:before {
    content: '-';
}
.testimonial .title {
    font-style: italic;
    margin-left: 5px;
    display: block;
}
.testimonial .date {
    white-space: nowrap;
    margin-left: 5px;
}
.testimonial.employer img {
  border: none;
}
.testimonial.horizontal {
  flex-flow: row;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.testimonial.horizontal img {
  width: auto;
  max-height: 100%;
  margin: 0 5px 0 0;
}
.testimonial.horizontal.video img {
  max-height: 200px;
}
.testimonial.horizontal .body {
  flex: 1;
  margin-left: 5px;
}
.testimonial.horizontal .source,
.testimonial.horizontal .name {
  text-align: center;
  font-size: 110%;
  font-weight: bold;
}
.testimonial.horizontal .name:before {
  content: '';
}
/*
.testimonial + .testimonial {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  border-left: none;
  border-right: none;
}
.testimonial.horizontal + .testimonial.horizontal {
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-top: none;
  border-bottom: none;
}
*/



.footer-container footer {
    color: white;
    padding: 10px 0 5px;
    font-size: 90%;
    line-height: 1.1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-container > footer > div {
    flex: 1 48%;
    margin-bottom: 15px;
}
.footer-container > footer > div:nth-child(odd) {
    text-align: left;
}
.footer-container > footer > div:nth-child(even) {
    text-align: right;
}


#address {
    order: 0;
}
/*
#address .phone,
#office-hours .phone {
    margin-top: 15px;
    margin-bottom: 5px;
}
#address .phone a,
#office-hours .phone a {
    padding: 8px 6px;
    background-color: #bbb;
    color: #222;
    font-weight: bold;
    border-radius: 7px;
}
*/
#office-hours {
    order: 1;
}
#phone-buttons {
    order: 2;
    display: flex;
    flex-flow: column;
    /*
    align-items: center;
    align-items: flex-start;
    */
}
#phone-buttons .button a {
    font-size: 15px;
}
#phone-buttons input {
    padding: 3px 6px;
    font-size: 15px;
    box-shadow: none;
}
#phone-buttons form {
    margin-top: 1px;
}
#social-media-footer {
    order: 3;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#social-media-footer img {
    height: 1.5em;
    width: 1.5em;
}
#legal-footer {
    order: 4;
    flex: 1 100%;
    font-size: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
#legal-footer > div {
    margin-bottom: 10px;
}
#legal-footer > div:last-child {
    margin-bottom: 0;
}

p.trigger {
    text-align: center;
}

.opened > header > .trigger > .collapsible-closed,
.closed > header> .trigger > .collapsible-opened,
.opened > .trigger > .collapsible-closed,
.closed > .trigger > .collapsible-opened {
    display: none;
}
.collapsible-opened {
    font-size: 90%;
}

#placeholder-box {
    flex: 1 100% !important;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
#placeholder-box.contains-1 > img {
    flex: none;
}
#placeholder-box.contains-2 > img {
    flex: 1 49%;
}
#placeholder-box > img {
    margin: 0 0 0 2%;
}
#placeholder-box > img:first-child {
    margin: 0;
}

img.image-placeholder {
    border: 2px solid black;
    padding: 2px;
    display: block;
    margin: 0 auto;
    max-height: 18em;
}



/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 549px) {
  .hide-mobile {
      display: none !important;
  }
  .collapsible-mobile .trigger,
  .collapsible-mobile-start .trigger {
      cursor: pointer;
  }
  .collapsible-mobile .opened,
  .collapsible-mobile-start .opened {
      margin-bottom: 1em;
  }
}
@media only screen and (min-width: 550px) and (max-width: 799px) {
  body {
      font-size: 120%;
  }
  .hide-tablet {
      display: none !important;
  }
  .collapsible-tablet .trigger,
  .collapsible-tablet-start .trigger {
      cursor: pointer;
  }
  .collapsible-tablet .opened,
  .collapsible-tablet-start .opened {
      margin-bottom: 1em;
  }
  #contact-info.tablet-row-1 {
      padding-left: 20%;
      padding-right: 20%;
  }
  #contact-info.tablet-row-3 {
      flex-flow: column nowrap;
  }
  .tablet-row-1 {
      flex: 1 100% !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
  }
  .tablet-row-2 {
      flex: 1 45% !important;
      margin-right: 5% !important;
      margin-left: 0 !important;
  }
  .tablet-row-3 {
      flex: 1 30% !important;
      margin-right: 3% !important;
      margin-left: 0 !important;
  }
  .tablet-row-2:nth-of-type(2n+0),
  .tablet-row-3:nth-of-type(3n+0) {
      margin-right: 0 !important;
  }
  #sidebar-primary > .tablet-row-3:first-child,
  #sidebar-primary > .tablet-row-3:nth-child(2),
  #sidebar-primary > .tablet-row-3:nth-child(3) {
      margin-top: 0;
  }
}
@media only screen and (min-width: 800px) {
  .hide-desktop {
      display: none !important;
  }
  .collapsible-desktop .trigger,
  .collapsible-desktop-start .trigger {
      cursor: pointer;
  }
  .collapsible-desktop .opened,
  .collapsible-desktop-start .opened {
      margin-bottom: 1em;
  }
  .menu-link {
      cursor: pointer;
  }
}
@media only screen and (min-width: 1000px) {
  .hide-desktop-large {
      display: none !important;
  }
}

@media only screen and (min-width: 550px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    .header-container header {
    }

    #logo-img {
        width: 75%;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: flex;
        align-items: flex-end;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    nav ul li {
        flex: 1 1 0;
        display: flex;
        margin: 0 5px;
    }
    nav ul li:first-child {
        margin-left: 0;
    }
    nav ul li:last-child {
        margin-right: 0;
    }
    nav a {
        margin-bottom: 0;
        flex: 1;
    }


/* ====================
    INTERMEDIATE: Main
   ==================== */
    
    #sidebar-primary,
    #bottom-bar,
    #content,
    #sidebar-secondary > * {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    #sidebar-secondary > * {
        flex: 1 100%;
    }
    .main aside {
        box-sizing: border-box;
        font-size: medium;
    }
    .main aside header {
        align-self: center;
    }

    #sidebar-secondary {
        display: block;
        float: right;
        /*max-width: 22%;*/
    }
    #sidebar-secondary > * {
        flex-flow: column nowrap;
    }
    #sidebar-secondary #contact-info {
        display: block;
        font-size: 78%;
    }
    #sidebar-secondary #contact-info .button a {
        padding: 10px 10px;
    }
    #sidebar-secondary #contact-info #phone {
        margin-bottom: 10px;
    }
    #sidebar-primary {
        padding: 0 10%;
    }
    #sidebar-primary > *,
    #bottom-bar {
        margin-top: 10px;
    }
    #sidebar-primary > *:first-child {
        /*margin-top: 0;*/
    }
    #bottom-bar > * {
      /*
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
      */
        flex: 1;
    }
    .space-out-2 > *,
    #sidebar-primary > * {
      flex: 1 49%;
      margin-right: 1%;
    }
    .space-out-2 > *:nth-child(even),
    .space-out-2 > *:last-child,
    #sidebar-primary > *:nth-child(even),
    #sidebar-primary > *:last-child {
      margin-right: 0;
    }

    .space-out-3 {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    .space-out-3 > * {
      flex: 1 32%;
      margin-right: 1%;
    }
    .space-out-3 > *:nth-child(3n+0),
    .space-out-3 > *:last-child {
      margin-right: 0;
    }

    #contact-info {
        flex-flow: row wrap;
        align-items: center;
        flex: 2;
    }
    #contact-info > div {
        font-weight: bold;
        width: 100%;
    }
    #contact-info .button,
    #contact-info .button a {
        width: 100%;
    }

    #career_courses section {
        display: block;
    }
    #continuing_ed section {
        display: block;
    }
    #continuing_ed {
        border-left: dashed 1px grey;
    }

    #content article {
        /*flex: 1 0 50%;*/
        /*padding: 0 10px;*/
        margin-top: 0;
        width: 100%;
    }
    #announcements {
        flex: 1 0 100%;
        flex-direction: column;
    }
    #announcements > div {
        align-self: flex-start;
    }
    #fb-feed {
        flex: 1 0 100%;
    }
    
    .testimonial {
        flex: 1;
        padding: 5px;
        background-color: #0a1e3c;
        display: flex;
        flex-flow: column;
        color: white;
        font-size: small;
    }
    #sidebar-secondary .testimonial {
        margin-left: 0;
    }
    .footer-container > footer > div {
        flex: initial;
    }


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
        display: flex;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 800px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .header-container header {
        display: flex;
        align-items: flex-end;
    }

    #logo-img {
        width: 325px;
        flex: 0 1 auto;
    }

    nav {
        flex: 1 1 auto;
    } 



/* ============
    WIDE: Main
   ============ */

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .header-container {
        flex-shrink: 0;
    }
    .main-container {
        flex-grow: 1;
        overflow: auto;
    }

    .main {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        /*align-items: flex-start;*/
        align-items: stretch;
    }
    #banner {
        margin-top: 0;
    }
    #sidebar-primary {
        flex: 0 1 22%;
        margin-right: 15px;
        min-width: 270px;
        flex-flow: column nowrap;
        padding: 0;
        justify-content: flex-start;
    }
    #bottom-bar {
        flex: 1 100%;
        flex-flow: row wrap;
        padding: 0;
    }
    #sidebar-primary > aside {
        /*flex: 1 1 100%;*/
        flex: 0;
        margin-right: 0;
    }
    #sidebar-primary > *:first-child {
        margin-top: 0;
    }
    #sidebar-primary > .bottom-of-sidebar {
        flex: 1;
        display: flex;
        flex-flow: column-reverse;
        border: none;
        box-shadow: none;
        background: transparent;
        margin-top: 25px;
    }
    #slideshow {
        display: block;
        text-align: center;
        flex: 3;
        margin-right: 10px;
        height: 100%;
        padding: 15px;
    }
    #slideshow img {
        width: 100%;
        border-radius: 7px;
    }
    #content {
        flex: 1;
    }
    #content article {
        /*padding: 0 10px;*/
        margin-top: 0;
    }
    #content article header h1 {
        margin-top: 0;
    }
    #continuing_ed {
        border-left: dashed 1px grey;
    }
    #sidebar-secondary > * {
        flex: 1 0 100%;
        justify-content: space-around;
    }

    .main article {
    }

    .main aside {
      font-size: small;
    }
    .main aside header {
      font-size: medium;
    }
    #contact-info {
      flex-flow: row wrap;
      justify-content: space-between;
    }
    #contact-info .button {
      font-size: 90%;
    }

    .footer-container {
        flex-shrink: 0;
        width: 100%;
    }
    .footer-container footer {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    .footer-container footer > div {
        margin: 0 30px 0 0;
    }
    .footer-container footer > div:last-child {
        margin-right: 0;
    }

    #address {
        text-align: left;
    }
    #legal-footer {
        flex: 1;
        margin-top: 0;
    }
    
}

/* only fix the footer to the bottom of the screen if it's tall enough */
@media only screen and (min-height: 800px) {
  body {
    height: 100vh;
  }
}


/* original max width: 1140 - 10% = 1026 */

@media only screen and (min-width: 1300px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1170px; /* 1300px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
.bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.red {
    color: #ff0000;
}
.nowrap {
    white-space: nowrap;
}
.small-print {
    font-size: 90%;
}
.center {
    text-align: center;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
